<h1>New Image</h1>
<%= form_with model: @image do |form| %>
  <div>
    <%= form.label :room_id %>
    <%= form.text_field :room_id %>
  </div>
  <div>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>
    <%= form.submit %>
  </div>
<% end%>