<h1>reservation info</h1>
<h2><%= @reservation.user_id %></h2>
<p>Room Id: <%= @reservation.room_id %></p>
<p>Start date: <%= @reservation.start_date %></p>
<p>End date: <%= @reservation.end_date %></p>
<p>Price: <%= @reservation.price %></p>
<p>Total guests: <%= @reservation.total_guests %></p>
<a href="/reservations">Back to all reservations</a>
<%= link_to "Edit reservation", edit_reservation_path(@reservation) %>